/* Universal Styles */
/*reset*/

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
    background-color: lightsalmon;
    height: auto;
    width: auto;
}

/*Header Section*/
.container-header{
    text-align: center;
    line-height: 1.8;
    height: 10rem;
    width: 100%;
    background-color: black;
}

.container-header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
}
.container-header h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: underline;
    color: aquamarine
}




/*Video Section*/
.container-video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
    width: 97%; 
    margin: auto;
    background-color: pink;
}

/*Banner Section*/
.container-banner{
    background-color: lightblue;
    margin: auto;
    width: 97%; 
}

.container-banner h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    margin-top: 3rem;
    color: white;
}

.container-banner h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.313rem;
    margin-top: 1rem;
    color: grey;
}

.container-banner .camp-image{
    display: block;
    margin: auto;
    margin-top: 1rem;
    
}

.container-banner .phone-image{
    display: block;
    margin: auto;
    margin-top: 1rem;
    
}